In [1]:
import pandas as pd
import numpy as np

In [2]:
food = pd.read_csv("food.csv")
ratings = pd.read_csv("ratings.csv")
dataset = pd.read_csv("users_combined_rating_pivot.csv")
preds = pd.read_csv("predicted.csv")

In [3]:
import json

# some JSON:
x =  '{ "userID":"2345", "Food_Name": ["tricolour salad","banana walnut smoothie","andhra pan fried pomfret"]}'

# parse x:
order_data = json.loads(x)
User_id = order_data["userID"]
del order_data["userID"]
order_data = pd.DataFrame(order_data)
order_data

                  Food_Name
0           tricolour salad
1    banana walnut smoothie
2  andhra pan fried pomfret

In [86]:
last = ratings['User_ID'].iloc[-2]
if(235.0>last):
    data = {'originalid': ["2345"], 'userID': ["101"]}
Id = pd.DataFrame(data)
Id.to_csv('Id.csv', index=False)

In [87]:
vv = pd.read_csv("Id.csv")
vv.head()

   originalid  userID
0        2345     101

In [ ]:
# last_user = ratings['User_ID'].iloc[-2]
# if(235.0>last):

In [4]:
def svd_new_user_order(User_id, oder_data):
    ratings2 = pd.read_csv("ratings.csv")
    ratings2.drop(ratings2.tail(1).index,inplace=True)
    food = pd.read_csv("food.csv")
    for ind in oder_data.index:
#         print(rating_data_nested_list['Food_ID'][ind], rating_data_nested_list['rating'][ind])
        foodName = order_data["Food_Name"][ind]
        flt = food['Name'] == foodName
        foodId = int(food.loc[flt]['Food_ID'])
        flt = ratings2['Food_ID'] == foodId
        food_rating = ratings2.loc[flt]['Rating'].mean()
        ratings2.loc[len(ratings2.index)] = [User_id, foodId, food_rating]
    
    ratings2.to_csv('ratings2.csv', index=False)
    dataset_2 = ratings2.pivot_table(index='User_ID',columns='Food_ID',values='Rating')
    dataset_2.fillna(0,inplace=True)
    R = dataset_2.values
    user_ratings_mean = np.mean(R, axis = 1)
    Ratings_demeaned = R - user_ratings_mean.reshape(-1, 1)
    
    from scipy.sparse.linalg import svds
    U, sigma, Vt = svds(Ratings_demeaned, k = 50)
    sigma = np.diag(sigma)
    all_user_predicted_ratings = np.dot(np.dot(U, sigma), Vt) + user_ratings_mean.reshape(-1, 1)
    preds2 = pd.DataFrame(all_user_predicted_ratings, columns = dataset_2.columns)
    preds2.to_csv('predicted2.csv')
    return

In [5]:
svd_new_user_order(User_id, order_data)

In [6]:
# import json

# # some JSON:
# j =  '{ "userID":"1234", "Food_rating": [{"Food_ID": "abc","rating": "5"},{"Food_ID": "bcd","rating": "6"},{"Food_ID": "cde","rating": "7"}]}'

# # parse x:
# rating_data = json.loads(j)
# User_id = rating_data["userID"]
# rating_data_nested_list = pd.json_normalize(rating_data, record_path =['Food_rating'])
# rating_data_nested_list

In [7]:
# rating_data_nested_list["rating"] = rating_data_nested_list["rating"].map(float)

In [8]:
# def svd_new_user_rating(User_id, rating_data_nested_list):
#     ratings2 = pd.read_csv("ratings.csv")
#     ratings2.drop(ratings2.tail(1).index,inplace=True)
#     for ind in rating_data_nested_list.index:
# #         print(rating_data_nested_list['Food_ID'][ind], rating_data_nested_list['rating'][ind])
#         ratings2.loc[len(ratings2.index)] = [User_id, rating_data_nested_list['Food_ID'][ind], rating_data_nested_list['rating'][ind]]
    
#     preds.to_csv('ratings2.csv')
#     dataset_2 = ratings2.pivot_table(index='User_ID',columns='Food_ID',values='Rating')
#     dataset_2.fillna(0,inplace=True)
#     R = dataset_2.values
#     user_ratings_mean = np.mean(R, axis = 1)
#     Ratings_demeaned = R - user_ratings_mean.reshape(-1, 1)
    
#     from scipy.sparse.linalg import svds
#     U, sigma, Vt = svds(Ratings_demeaned, k = 50)
#     sigma = np.diag(sigma)
#     all_user_predicted_ratings = np.dot(np.dot(U, sigma), Vt) + user_ratings_mean.reshape(-1, 1)
#     preds2 = pd.DataFrame(all_user_predicted_ratings, columns = dataset_2.columns)
#     preds2.to_csv('predicted2.csv')
#     return

In [9]:
# svd_new_user_rating(User_id, rating_data_nested_list)

In [10]:
preds.head()

,Unnamed: 0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,...,300.0,301.0,302.0,303.0,304.0,305.0,306.0,307.0,308.0,309.0
0,0,-0.048949,0.002101,0.011330,-0.077076,0.020332,-0.028672,-0.098129,-0.171783,-0.124071,...,-0.014799,0.060264,0.024905,0.073726,0.022573,-0.011967,0.087599,0.014540,0.252929,0.022718
1,1,-0.186800,-0.007912,-0.042540,-0.898963,-0.084581,-0.028339,-0.150486,-0.101445,-0.115920,...,0.062862,0.079658,0.050724,0.103593,0.065283,-0.166912,-0.039653,0.047565,0.030345,0.012797
2,2,-0.032185,0.019317,-0.108391,-0.063803,-0.080629,-0.027423,-0.091557,-0.053898,-0.083616,...,-0.020945,0.053987,0.057926,0.040231,0.067101,-0.134565,0.029937,0.059610,0.050380,-0.049891
3,3,-0.350374,-0.172312,-0.078371,-0.109807,-0.039780,-0.024423,-0.225578,-0.011290,-0.251320,...,0.175080,0.113178,0.057976,0.132643,0.135032,-0.304662,0.056973,0.082878,0.155382,-0.023058
4,4,-0.024147,0.001343,-0.230989,0.056057,-0.082824,-0.038933,-0.069143,6.120407,-0.082034,...,0.095883,0.056805,0.067464,0.031411,0.040180,-0.135914,0.044329,0.039137,0.075536,-0.045251

In [11]:
preds.rename(columns = {"Unnamed: 0":"Food_ID"}, inplace=True)
preds.reset_index(drop=True,inplace=True)
preds.set_index('Food_ID', inplace=True)
preds.head()

,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,10.0,...,300.0,301.0,302.0,303.0,304.0,305.0,306.0,307.0,308.0,309.0
Food_ID,,,,,,,,,,,,,,,,,,,,,
0,-0.048949,0.002101,0.011330,-0.077076,0.020332,-0.028672,-0.098129,-0.171783,-0.124071,-0.043170,...,-0.014799,0.060264,0.024905,0.073726,0.022573,-0.011967,0.087599,0.014540,0.252929,0.022718
1,-0.186800,-0.007912,-0.042540,-0.898963,-0.084581,-0.028339,-0.150486,-0.101445,-0.115920,-0.108364,...,0.062862,0.079658,0.050724,0.103593,0.065283,-0.166912,-0.039653,0.047565,0.030345,0.012797
2,-0.032185,0.019317,-0.108391,-0.063803,-0.080629,-0.027423,-0.091557,-0.053898,-0.083616,-0.091422,...,-0.020945,0.053987,0.057926,0.040231,0.067101,-0.134565,0.029937,0.059610,0.050380,-0.049891
3,-0.350374,-0.172312,-0.078371,-0.109807,-0.039780,-0.024423,-0.225578,-0.011290,-0.251320,-0.117247,...,0.175080,0.113178,0.057976,0.132643,0.135032,-0.304662,0.056973,0.082878,0.155382,-0.023058
4,-0.024147,0.001343,-0.230989,0.056057,-0.082824,-0.038933,-0.069143,6.120407,-0.082034,-0.247019,...,0.095883,0.056805,0.067464,0.031411,0.040180,-0.135914,0.044329,0.039137,0.075536,-0.045251

In [12]:
preds.columns = preds.columns.map(float)

In [20]:
preds2 = pd.read_csv("predicted2.csv")
preds2.head()

,Unnamed: 0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,...,300.0,301.0,302.0,303.0,304.0,305.0,306.0,307.0,308.0,309.0
0,0,-0.046802,-0.001326,0.013715,-0.091734,0.008185,-0.027996,-0.102810,-0.161202,-0.129487,...,-0.014758,0.059770,0.022728,0.074245,0.021672,-0.007867,0.085274,0.014257,0.256107,0.026893
1,1,-0.222666,-0.013610,-0.049323,-0.993733,-0.016028,-0.028579,-0.141730,-0.146339,-0.090160,...,0.066208,0.080870,0.054322,0.099155,0.067038,-0.187235,-0.039212,0.044614,0.009449,0.001482
2,2,-0.024503,0.020185,-0.099803,0.023574,-0.076050,-0.027120,-0.081975,-0.048363,-0.081789,...,-0.039249,0.053051,0.055555,0.036357,0.064558,-0.128340,0.029039,0.058457,0.052366,-0.046443
3,3,-0.365611,-0.167252,-0.095387,-0.217292,0.001880,-0.026709,-0.222954,-0.050136,-0.236433,...,0.190212,0.115218,0.065937,0.133350,0.139729,-0.325946,0.063544,0.084252,0.141945,-0.039140
4,4,-0.015196,0.001190,-0.221743,0.131987,-0.089835,-0.038222,-0.063705,6.132425,-0.084318,...,0.081176,0.055889,0.064385,0.029031,0.037653,-0.126883,0.042489,0.038259,0.079940,-0.039510

In [21]:
preds2.rename(columns = {"Unnamed: 0":"Food_ID"}, inplace=True)
preds2.reset_index(drop=True,inplace=True)
preds2.set_index('Food_ID', inplace=True)
preds2.head()

,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,10.0,...,300.0,301.0,302.0,303.0,304.0,305.0,306.0,307.0,308.0,309.0
Food_ID,,,,,,,,,,,,,,,,,,,,,
0,-0.046802,-0.001326,0.013715,-0.091734,0.008185,-0.027996,-0.102810,-0.161202,-0.129487,-0.031530,...,-0.014758,0.059770,0.022728,0.074245,0.021672,-0.007867,0.085274,0.014257,0.256107,0.026893
1,-0.222666,-0.013610,-0.049323,-0.993733,-0.016028,-0.028579,-0.141730,-0.146339,-0.090160,-0.157972,...,0.066208,0.080870,0.054322,0.099155,0.067038,-0.187235,-0.039212,0.044614,0.009449,0.001482
2,-0.024503,0.020185,-0.099803,0.023574,-0.076050,-0.027120,-0.081975,-0.048363,-0.081789,-0.095469,...,-0.039249,0.053051,0.055555,0.036357,0.064558,-0.128340,0.029039,0.058457,0.052366,-0.046443
3,-0.365611,-0.167252,-0.095387,-0.217292,0.001880,-0.026709,-0.222954,-0.050136,-0.236433,-0.151846,...,0.190212,0.115218,0.065937,0.133350,0.139729,-0.325946,0.063544,0.084252,0.141945,-0.039140
4,-0.015196,0.001190,-0.221743,0.131987,-0.089835,-0.038222,-0.063705,6.132425,-0.084318,-0.241566,...,0.081176,0.055889,0.064385,0.029031,0.037653,-0.126883,0.042489,0.038259,0.079940,-0.039510

In [37]:
preds2.columns = preds2.columns.map(float)

In [64]:
preds.index

Index(['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24',
       '25', '26', '27', '28', '29', '30', '31', '32', '33', '34', '35', '36',
       '37', '38', '39', '40', '41', '42', '43', '44', '45', '46', '47', '48',
       '49', '50', '51', '52', '53', '54', '55', '56', '57', '58', '59', '60',
       '61', '62', '63', '64', '65', '66', '67', '68', '69', '70', '71', '72',
       '73', '74', '75', '76', '77', '78', '79', '80', '81', '82', '83', '84',
       '85', '86', '87', '88', '89', '90', '91', '92', '93', '94', '95', '96',
       '97', '98', '99'],
      dtype='object', name='Food_ID')

In [63]:
preds2.index

Index(['0', '1', '2', '3', '4', '5', '6', '7', '8', '9',
       ...
       '91', '92', '93', '94', '95', '96', '97', '98', '99', '100'],
      dtype='object', name='Food_ID', length=101)

In [62]:
row_number = str(int(float('2345.0')))
sel = preds2.loc[preds2.index==row_number]
# row = preds2.index[preds.index==row_number]
int(sel.index[0])

IndexError: index 0 is out of bounds for axis 0 with size 0

In [41]:
def svd_food_recommendation(predictions, userID, food, original_ratings, num_recommendations):
    
    # Get and sort the user's predictions
    predictions.index = predictions.index.map(str)
    user_row_number = str(int(float(userID))-1)
    select = predictions.loc[predictions.index==user_row_number]
    sorted_user_predictions = select.iloc[0,:].sort_values(ascending=False)
    # Get the user's data and merge in the food information.
    user_data = original_ratings[original_ratings.User_ID.map(str) == userID]
    user_full = (user_data.merge(food, how = 'left', left_on = 'Food_ID', right_on = 'Food_ID').
                     sort_values(['Rating'], ascending=False)
                 )
    
    sorted_user_predictions_df = pd.DataFrame(sorted_user_predictions)
    sorted_user_predictions_df.index.name = "Food_ID"
#     sorted_user_predictions_df['Food_ID'] = sorted_user_predictions_df.index
    sorted_user_predictions_df = sorted_user_predictions_df.reset_index()
    display(user_full)
    display(sorted_user_predictions_df)
    print(sorted_user_predictions_df.index)
    
#     Recommend the highest predicted rating foods that the user hasn't tasted yet.
    recommendations = (food[~food['Food_ID'].isin(user_full['Food_ID'])].
         merge(pd.DataFrame(sorted_user_predictions).reset_index(), how = 'left',
               left_on = 'Food_ID',
               right_on = 'Food_ID').
         rename(columns = {str(user_row_number): 'Predictions'}).
         sort_values('Predictions', ascending = False).
                       iloc[:num_recommendations, :-1]
                      )

    return recommendations

# svd_food_recommendation(preds, 4, food, ratings, 10)
#data = knn_food_recommendation("chicken biryani")
#print(data)
predictions = svd_food_recommendation(preds2, '4.0', food, ratings, 10)
predictions

,User_ID,Food_ID,Rating,Name,C_Type,Veg_Non,Describe
3,4.0,212.0,10.0,al hachi chicken,Indian,non-veg,"shallow fried chicken, bottle gourd (boiled an..."
4,4.0,128.0,6.0,thai lamb balls,Thai,non-veg,"lamb (minced), couscous, scallion, garlic, egg..."
0,4.0,14.0,5.0,"peach, raspberry and nuts smoothie",Healthy Food,veg,"fresh raspberries, ripe banana, almond, fresh ..."
1,4.0,141.0,5.0,"risotto lobster with parmesan egg pancake, con...",Italian,non-veg,"lobster shell, carrot, leeks, garlic cloves, t..."
2,4.0,170.0,1.0,fried rice with soya chunks,Chinese,veg,"basmati rice, carrot, capsicum, beans, green p..."
5,4.0,21.0,1.0,apple rabdi,Dessert,veg,"apples, milk, sugar, green cardamoms, almonds ..."

     Food_ID         3
0      212.0  9.477509
1      128.0  5.657764
2       14.0  4.720938
3      141.0  4.720938
4      170.0  1.050101
..       ...       ...
304    172.0 -0.427261
305    119.0 -0.427261
306    102.0 -0.433976
307     15.0 -0.452878
308    184.0 -0.501057

[309 rows x 2 columns]

RangeIndex(start=0, stop=309, step=1)

,Food_ID,Name,C_Type,Veg_Non,Describe
150,155,chilli fish,Chinese,non-veg,"For fish pieces (Boneless), Flour, Cornflour, ..."
58,61,crunchy vegetable dal sattu croquettes,Italian,veg,"red lentils or masoor dal (half-boiled), potat..."
93,96,methi chicken masala,Indian,non-veg,"boneless chicken, lemon juice, red chilli powd..."
124,127,cajun spiced turkey wrapped with bacon,Mexican,non-veg,"turkey breast, cajun spice, spinach leaves (co..."
180,186,strawberry & pistachio breton tart,Dessert,veg,"plain flour, baking powder, sea salt, unsalted..."
42,45,ghee roast chicken dosa quesadilla,Mexican,non-veg,"dry red chillies, coriander seeds, cumin seeds..."
71,74,slow cooked spiced sangria,Mexican,veg,"red wine (merlot / zinfandel), apple cider, ho..."
146,151,fish andlouse,French,non-veg,"white wine and water mix to cover, onion, salt..."
262,269,spiced orange valencia cake,Dessert,veg,"egg whites, egg white powder, sugar, almond po..."
134,138,malabar fish curry,Indian,non-veg,"whole coriander seeds, whole red chilli, cocon..."

In [14]:
# preds.columns = preds.columns.map(float)

In [15]:
# list(preds.columns)

In [16]:
# preds.head(20).index.tolist()

In [17]:
# preds.index = preds.index.map(str)
# # preds.index
# select = preds.loc[preds.index == str(int(float('1.0'))-1)]
# series1 = select.iloc[0,:].sort_values(ascending=False)
# series1
# # select

In [18]:
# preds.iloc[0].sort_values(ascending=False)